* {
	box-sizing: border-box;
}

body {
/*	height: 100%; AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
	position: absolute; /* fuck css */
	top: 0; /* i hate this */
	right: 0; /* so much */
	bottom: 0; /* you have */
	left: 0; /* no idea */
	margin: 0;
	padding: 1.0em;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	background: hsl(165, 100%, 25%);
	color: #ffffff;
	font-family: "Cantarell";
	font-size: 1.25rem;
}

h1, h2, h3 {
	margin: 0.25em 0;

	font-family: "Merriweather";
}

h1 {
	margin-bottom: 0.5em;

	font-size: 1.0em;
}

h2 {
	font-size: 1.2em;
}

p {
	margin: 0.1em 0;
}

kbd {
	margin: 0.05em 0;
	padding: 0.15em 0.5em;

	display: inline-block;

	background: hsl(165, 100%, 15%);
	border-radius: 0.125em;
	border-top: solid 1px hsl(165, 30%, 60%);
	border-bottom: solid 2px #000000;
	font-family: "Fira Mono";
	font-size: 1.125rem;
}

header {
	flex: 0;
}

main {
	flex: 1 1 0;
	overflow-y: auto;
}

#scrolly-bitch {
	columns: 20em auto;
	column-gap: 2.0em;
}

section {
	width: 100%;
	margin: 0.5em 0 0.5em 0;
	box-sizing: border-box; /* fuck css */

	display: inline-block; /* fuck css */
	break-inside: avoid;
	page-break-inside: avoid;

/*	border: solid 1px #cccccc;*/
}

.keybind {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.keybind #label {
	flex-shrink: 4;
}

.keybind #keys {
	text-align: end;
}
